<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>我是后台首页面</h1>
    <p style="margin: 30px;">static目录</p>
    <img src="/images/logo.png" width="200">

    <p style="margin: 30px;">assets目录</p>
    <img src="/images/1.jpg" width="400">
</body>
</html>