<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext"
		rel="stylesheet">
	<title>Sign in</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootsnav.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body>
	<section class="signin">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-4">
					<div class="single-sign">
						<div class="sign-bg"></div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="single-sign">
						<div class="sign-content">
							<h2>sign in</h2>
							<form action="/client" method="POST"></form>
								<div class="signin-form">

									<div class="form-group">
										<label for="signin_form">Email</label>
										<input type="email" class="form-control emails" id="signin_form"
											placeholder="info@abc.com">
									</div>
									<div class="form-group">
										<label for="signin_form">password</label>
										<input type="password" class="form-control pwds" id="signin_form"
											placeholder="Password">
									</div>

								</div>
								<div class="signin-password">
									<div class="awesome-checkbox-list">
										<ul class="unstyled centered">
											<li>
												<input class="styled-checkbox" id="styled-checkbox-2" type="checkbox"
													value="value2">
												<label for="styled-checkbox-2">Keep me Signed in</label>
											</li>
											<li>
												<a href="#">Forgot email or password ?</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="signin-footer">
									<input type="submit" value="sign in" class="btn signin_btn" id="handleLogin">
									<!-- <button type="button" class="btn signin_btn" data-toggle="modal"
										data-target=".signin_modal" id="handleLogin">
										sign in
									</button> -->
									<p>
										Don’t have an Account ?
										<a href="/reg" class="a-hover">register</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer-copyright">
		<div id="scroll-Top">
			<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top"
				title="" data-original-title="Back to Top" aria-hidden="true"></i>
		</div>
	</footer>

	<script src="js/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootsnav.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>